@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*----------Navbar CSS----------*/

.navbar{
    background-color: #2D25A0;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
}

.navbar nav ul{
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
}

.navbar nav .menu{
    margin-left: 156px;
    align-items: center;
}

.navbar nav .login{
    margin-right: 156px;
    margin-top: 42px;
    padding: 10px 24px;
    background-color: #E02C6D;
    cursor: pointer;
}

.navbar nav ul li{
    list-style: none;
    padding-right: 36px;
}

.navbar nav .login .icon{
    padding-right: 8px;
}

.navbar nav .login .text{
    
    padding-right: 0px;
}

.navbar nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

/*----------Top Banner CSS----------*/

.banner{
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D25A0;
    margin-bottom: 70px;
}

.banner .banner-left{
    margin-left: 176px;
    width: 485px;
}

.banner .banner-left h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: transform 1s ease-in-out, padding-bottom 1s ease-in-out;
    cursor: default;
}

.banner .banner-left div ul{
    display: flex;
    list-style: none;
    width: 168px;
    height: 44px;
    padding-left: 0px;
    background-color: #E02C6D;
    cursor: pointer;
    transition: margin-left 1s ease-in-out 1s;
}

.banner .banner-left div ul .watch{
    padding-right: 8px;
    margin-left: 24px;
}

.banner .banner-left div ul li{
    margin-top: 10px;
}

.banner .banner-left div ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.banner .banner-right{
    margin-right: 176px;
}

.banner .banner-right img{
    width: 650px;
    transition: transform 1s ease-in-out, padding-bottom 1s ease-in-out, padding-top 1s ease-in-out;
}

/*----------Banner Hover Effects----------*/

.banner:hover .generic-player{
    padding-top: 50px;
    padding-bottom: 50px;
    transform: scale(1.1);
}

.banner:hover h1{
    transform: scale(1.1);
    padding-bottom: 13px;
}

.banner:hover .watch-button{
    margin-left: -23px;
}

/*----------Player Cards CSS----------*/

.player-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
}

.player-cards .player-1, .player-4, .player-7, .player-10{
    justify-self: end;
    margin-right: -17px;
}

.player-cards .player-2, .player-5, .player-8, .player-11{
    justify-self: center;
}

.player-cards .player-3, .player-6, .player-9, .player-12{
    justify-self: start;
    margin-left: -17px;
}

.player-cards div{
    width: 495px;
    height: 711px;
    background-color: #fff;
}

.player-cards .player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-cards div .player-1-1{
    height: 388.266px;
    width: 465px;
    overflow: hidden;
    margin: 15px;
}

.player-cards div img{
    width: 100%;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.player-cards div h2{
    font-size: 38px;
    font-weight: 700;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 1s ease-in-out;
}

.player-cards div p{
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

/*----------Player Cards Hover Effects----------*/

.player:hover .p-img-1{
    transform: scale(1.2);
}

.player:hover .player-name{
    color: #E02C6D;
}

/*----------Bottom Banner CSS----------*/
.bot-banner{
    margin-top: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.bot-banner .bot-banner-left{
    margin-left: 156px;
    width: 469px;
}

.bot-banner .bot-banner-left h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
}

.bot-banner .bot-banner-left p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
    padding-bottom: 10px;
}

.bot-banner .bot-banner-left div ul{
    display: flex;
    list-style: none;
    width: 168px;
    height: 44px;
    padding-left: 0px;
    background-color: #E02C6D;
    cursor: pointer;
}

.bot-banner .bot-banner-left div ul .watch{
    padding-right: 8px;
    margin-left: 24px;
}

.bot-banner .bot-banner-left div ul li{
    margin-top: 10px;
}

.bot-banner .bot-banner-left div ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.bot-banner .bot-banner-right{
    margin-right: 156px;
}

.bot-banner .bot-banner-right img{
    width: 600px;
}