@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*----------Navbar CSS----------*/

.navbar{
    background-color: #2D25A0;
    margin-bottom: -2px;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.navbar nav ul{
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
}

.navbar nav .menu{
    margin-left: 156px;
    align-items: center;
}

.navbar nav .menu .bars{
    padding-right: 0px;
    display: none;
}

.navbar nav .login{
    margin-right: 156px;
    margin-top: 42px;
    padding: 10px 24px;
    background-color: #E02C6D;
    cursor: pointer;
}

.navbar nav ul li{
    list-style: none;
    padding-right: 36px;
    transition: transform .3s ease-in;
}

.navbar nav .login .icon{
    padding-right: 8px;
}

.navbar nav .login .text{
    
    padding-right: 0px;
}

.navbar nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

/*----------Navbar Hover----------*/

.menu li:hover{
    transform: scale(1.15);
}

/*----------Top Banner CSS----------*/

.banner{
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D25A0;
    margin-bottom: 70px;
}

.banner .banner-left{
    margin-left: 176px;
    width: 485px;
}

.banner .banner-left h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: transform 1s ease-in-out, padding-bottom 1s ease-in-out;
    cursor: default;
}

.banner .banner-left div ul{
    display: flex;
    list-style: none;
    width: 168px;
    height: 44px;
    padding-left: 0px;
    background-color: #E02C6D;
    cursor: pointer;
    transition: margin-left .3s ease-in-out 1s;
}

.banner .banner-left div ul .watch{
    padding-right: 8px;
    margin-left: 24px;
}

.banner .banner-left div ul li{
    margin-top: 10px;
}

.banner .banner-left div ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.banner .banner-right{
    margin-right: 176px;
}

.banner .banner-right img{
    width: 650px;
    transition: transform 1s ease-in-out, padding-bottom 1s ease-in-out, padding-top 1s ease-in-out;
}

/*----------Banner Hover Effects----------*/

.banner:hover .generic-player{
    padding-top: 50px;
    padding-bottom: 50px;
    transform: scale(1.1);
}

.banner:hover h1{
    transform: scale(1.1);
    padding-bottom: 13px;
}

.banner:hover .watch-button{
    margin-left: -23px;
}

/*----------Player Cards CSS----------*/

.player-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
}

.player-cards .player{
    text-decoration: none;
}

.player-cards .player-1, .player-4, .player-7, .player-10{
    justify-self: end;
    margin-right: -17px;
}

.player-cards .player-2, .player-5, .player-8, .player-11{
    justify-self: center;
}

.player-cards .player-3, .player-6, .player-9, .player-12{
    justify-self: start;
    margin-left: -17px;
}

.player-cards a{
    width: 495px;
    height: 711px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-cards a div{
    width: 100%;
    background-color: #fff;
}

.player-cards div .player-1-1{
    height: 388.266px;
    width: 465px;
    overflow: hidden;
    margin: 15px;
}

.player-cards div img{
    width: 100%;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.player-cards div h2{
    font-size: 38px;
    font-weight: 700;
    color: #18191F;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 1s ease-in-out;
}

.player-cards div p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
}

/*----------Player Cards Hover Effects----------*/

.player:hover .p-img-1{
    transform: scale(1.2);
}

.player:hover .player-name{
    color: #E02C6D;
}

/*----------Bottom Banner CSS----------*/

.bot-banner{
    margin-top: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: background-color .5s ease-in;
}

.bot-banner .bot-banner-left{
    margin-left: 156px;
    width: 469px;
}

.bot-banner .bot-banner-left h1{
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;
    transition: color .3s ease-in;
}

.bot-banner .bot-banner-left p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
    padding-bottom: 10px;
    cursor: default;
    transition: color .3s ease-in;
}

.bot-banner .bot-banner-left div{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
}

.bot-banner .bot-banner-left div ul{
    display: flex;
    list-style: none;
    padding-left: 0px;
    cursor: pointer;
}

.bot-banner .bot-banner-left div ul .watch{
    padding-right: 8px;
    margin-left: 24px;
}

.bot-banner .bot-banner-left div ul li{
    margin-top: 10px;
}

.bot-banner .bot-banner-left div ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.bot-banner .bot-banner-right{
    margin-right: 156px;
}

.bot-banner .bot-banner-right iframe{
    width: 560px;
    height: 315px;
    transition: box-shadow .3s ease-in .5s;
}

/*----------Bottom Banner Hover Effect----------*/

.bot-banner:hover .bot-banner-head{
    color: #E02C6D;
}

.bot-banner:hover{
    background-color: #2D25A0;
}

.bot-banner:hover .bot-banner-text{
    color: #fff;
}

.bot-banner:hover iframe{
    box-shadow: 0px 0px 40px rgb(255 255 255 / 25%);
}

/*----------Footer CSS----------*/

.footer{
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.footer .logo-socials{
    justify-self: center;
}

.footer .logo-socials .logo{
    width: 250px;
}

.footer .logo-socials .socials{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo-socials .socials .social-account{
    padding: 4px 8.57px;
    border-radius: 50%;
    font-size: 17px;
    color: #969BAB;
    background-color: rgba(0,0,0,0.1);
    margin-right: 7px;
    margin-left: 7px;
    transition: transform .2s ease-in;
}

.footer .logo-socials .socials a i{
    font-size: 17px;
    transition: color .2s ease-in;
}

.footer .logo-socials p{
    padding-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 400;
    cursor: default;
}

.footer .logo-socials p span{
    color: #E02C6D;
}

/*----------Footer Hover Effect----------*/

.social-account:hover{
    transform: scale(1.2);
}

.social-account:hover .social-icon{
    color: #E02C6D;
}

/*----------Move To Top Button CSS----------*/

.move-top{
    display: grid;
    margin-bottom: 50px;
}

.move-top .top-button{
    text-decoration: none;
    justify-self: center;
    background-color: #969BAB;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out, background-color .5s ease-in-out;
}

.move-top .top-button .fa-angle-double-up{
    color: #fff;
    font-size: 22px;
    transition: transform 1s ease-in-out;
}

/*----------Footer Hover Effect----------*/

.top-button:hover{
    background-color: #E02C6D;
    transform: scale(1.2);
}

.top-button:hover .fa-angle-double-up{
    transform: rotate(360deg);
}

/*----------Media Query----------*/

@media only screen and (max-width: 1700px)
{
    .player-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    .player-cards .player-1, .player-3, .player-5, .player-7, .player-9, .player-11{
        justify-self: end !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .player-cards .player-2, .player-4, .player-6, .player-8, .player-10, .player-12{
        justify-self: start !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .player-cards div h2 {
        font-size: 33px;
    }
}

@media only screen and (max-width: 1550px)
{
    .banner .banner-left {
        width: 416px;
    }

    .banner .banner-right img {
        width: 490px;
    }

    .banner .banner-left h1 {
        font-size: 50px;
    }

    .bot-banner .bot-banner-left {
        width: 382px;
    }

    .bot-banner .bot-banner-left h1 {
        font-size: 39px;
    }

    .bot-banner .bot-banner-right iframe {
        width: 464px;
        height: 261px;
    }

    .banner:hover .watch-button{
        margin-left: -19px;
    }
}

@media only screen and (max-width: 1250px)
{
    .navbar nav .menu {
        margin-left: 20px;
    }

    .navbar nav .login {
        margin-right: 20px;
    }

    .banner {
        padding-bottom: 45px;
    }

    .banner .banner-left {
        width: 266px;
    }

    .banner .banner-right img {
        width: 329px;
    }

    .banner .banner-left h1 {
        font-size: 36px;
    }

    .bot-banner .bot-banner-left {
        width: 294px;
    }

    .bot-banner .bot-banner-left h1 {
        font-size: 30px;
    }

    .bot-banner .bot-banner-right iframe{
        width: 320px;
        height: 180px;
    }

    .footer .logo-socials .logo {
        width: 125px;
        margin-left: 65px;
    }

    .banner:hover .watch-button{
        margin-left: -11px;
    }
}

@media only screen and (max-width: 1100px)
{

    .navbar nav .menu {
        margin-left: 20px;
    }

    .navbar nav .login {
        margin-right: 20px;
    }

    .navbar nav .menu li{
        display: none;
    }

    .navbar nav .menu li a{
        font-size: 24px;
    }

    .navbar nav .menu .bars{
        display: flex;
    }

    .banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 45px;
        grid-row-gap: 30px;
    }

    .banner .banner-left {
        width: 266px;
    }

    .banner .banner-right{
        justify-self: end;
    }

    .banner .banner-left h1 {
        font-size: 36px;
    }

    .player-cards .player{
        width: 330px;
        height: 474px;
    }

    .player-cards .player .player-1-1{
        width: 300px;
        height: 256px;
    }

    .player-cards div h2 {
        font-size: 28px;
    }

    .player-cards .player p span{
        display: none;
    }

    .player-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }

    .player-cards div h2 {
        font-size: 28px;
    }

    .bot-banner {
        margin-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }

    .bot-banner .bot-banner-left {
        justify-self: center;
        width: 294px;
        margin-left: 0px;
    }

    .bot-banner .bot-banner-right {
        justify-self: center;
        width: 294px;
        margin-right: 0px;
    }

    .bot-banner .bot-banner-right iframe{
        width: 294px;
        height: 165.375px;
    }

    .bot-banner .bot-banner-left h1 {
        font-size: 30px;
    }

    .footer{
        margin-top: 100px;
    }

    .footer .logo-socials .logo {
        width: 125px;
        margin-left: 65px;
    }
}

@media only screen and (max-width: 800px)
{
    .banner .banner-left {
        justify-self: center;
        margin-left: 0px;
        width: 266px;
    }

    .banner .banner-right{
        justify-self: center;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 688px)
{
    .player-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }

    .player-cards .player{
        justify-self: center !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        width: 330px;
        height: 474px;
    }

    .player-cards .player .player-1-1{
        width: 300px;
        height: 256px;
    }

    .player-cards .player p span{
        display: none;
    }
}